<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>一覧画面</title>
</head>

<body>
	<h1>社員一覧</h1>
	<form action="index.html" th:action="@{detail}">
		ID：<input type="number" name="id">
		<button>主キー検索を行い詳細画面に遷移</button>
	</form>

	<a href="regist.html" th:href="@{regist}">社員情報の挿入を行う画面に遷移</a>

	<table>
		<tr>
			<th>ID</th>
			<th>氏名</th>
			<th>所属年月日</th>
			<th>所属部署</th>
			<th>メールアドレス</th>
		</tr>
		<tr th:each="employee : ${employeeList}" th:object="${employee}">
			<td th:text="*{id}"></td>
			<td th:text="*{name}"></td>
			<td th:text="*{joinedDate}"></td>
			<td th:text="*{departmentName}"></td>
			<td th:text="*{email}"></td>
			<td><a href="detail.html" th:href="@{detail(id=*{id})}">詳細</a></td>
		</tr>

	</table>
</body>

</html>