<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>入力画面</title>
<link rel="stylesheet" href="../../static/css/style.css"
    th:href="@{/css/style.css}">
</head>

<body>
    <h1>メールアドレスを入力してください</h1>
    <form method="post" action="result.html" th:action="@{result}" th:object="${emailForm}">
    
    メールアドレス：<input type="text" name="email" th:field="*{email}"> <br>
    
    <div th:errors="*{email}" class="error">
    ダミー
    </div>
    
    <div th:errors="*{sameEmail}" class="error">
    ダミー
    </div>
    
    メールアドレス（確認用）：<input type="text" name="confirmEmail" th:field="*{confirmEmail}"> <br>
    
    <div th:errors="*{confirmEmail}" class="error">
    ダミー
    </div>
    
    <button>登録する</button>
    
    </form>
    <a href="../index.html" th:href="@{/}">トップ画面へ戻る</a>
</body>

</html>